@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *:focus {
    outline: none;
  }

  *:focus-visible {
    outline: 3px solid #a0bcec; /* havelock-blue-100 */
    outline-offset: 2px;
    border-radius: 4px;
  }
}